html
  height 100%
  font-size 18px

body
  border-top 2px solid black
  text-rendering geometricPrecision
  line-height 1.5
  font-family Soraka, "Source Han Serif SC", serif
  font-feature-settings "lnum","calt","liga","clig"

#content-outer
  max-width: 38rem
  margin-left auto
  margin-right auto
  margin-bottom 4rem
  margin-top 6rem
#header
  margin-top 3rem
  text-align center

#title h1
  font-family Soraka, "Source Han Serif SC", serif !important

#menu-outer
  text-align center
  margin-left auto
  margin-right auto

#footer
  color grey
  max-width 44rem
  margin-left auto
  margin-right auto
  padding-bottom 1rem
  font-size 10px
a
  color black
  text-decoration none
.meta
  color gray
  min-width 200px
  margin-right 16px
  font-size 14px

article header .meta
  color #ccc !important
  text-decoration none !important
  text-transform uppercase
  font-variant small-caps
  .page-date:after
    content "|"
  a
    background-image none !important
    color #ccc !important
    


#paginator
  text-align center