
<% if (page.posts.length > 0) { %>
  <div id="recent-posts">
    <h2>Writings</h2>
    <ul>
      <% page.posts.sort('date', -1).limit(10).each(post => { %>
        <div class="recent-post-item">
          <time class="meta" datetime="<%=post.date.toJSON()%>">
            <%=date(post.date)%>
          </time>
        <a href="<%=url_for(post.path)%>"><%=post.title%></a>
        </div>
      <% }); %>
    </ul>
  </div>
<% } %>
